body {
  background-image: url("https://wallpapercave.com/w/wp1828929.jpg")
}

.App {
  text-align: left;
  margin-left: 260px;
}

.App h1 {
  color: white;
  font-size: 3rem;
}

.todo-form {
  margin-left: 50px;
}